.test {
  display: flex;
  flex-direction: row;
}

.red {
  background-color: red;
}

.yellow {
  color: black;
  background-color: yellow;
}

.green {
  background-color: green;
}

.black {
  background-color: rgb(63, 63, 63);
}

.circle {
  height: 100px;
  width: 100px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  margin-top: auto;
  padding: 50% 0;
}

.sensor-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.sensor-title {
  font-size: 10em;
  color: black;
  background-color: #3d8bd9; /* Set a default background color */

}

.graph-title-row {
  display: flex;
  flex-direction: row;
  /* background-image: url(()); */
}
/* 
  .sensor-row a {

  } */
a {
  color: beige;

}

.submit-param-btn {
  border-radius: 8px;
  border: #6eaeee;
  background-color: #efecec;
  text-align: center;
  padding: 1vh 1vw;
}

.submit-param-btn:hover {
  background-color: #6eaeee;
  transform: background-color 0.4s ease;
}
